#Before you can run the mysqld_exporter you'll have to setup a MySQL User with the required permissions

#Example:
#GRANT REPLICATION CLIENT, PROCESS ON *.* TO 'prom'@'localhost' identified by 'abc123';
#GRANT SELECT ON performance_schema.* TO 'prom'@'localhost';

[client]
user=prom
password=abc123