#Before you can run the mysqld_exporter you'll have to setup a MySQL User with the required permissions

#Example:
#CREATE USER 'mysql_exporter'@'localhost' IDENTIFIED BY 'XXXXXXXX';
#GRANT PROCESS, REPLICATION CLIENT, SELECT ON *.* TO 'mysql_exporter'@'localhost' WITH MAX_USER_CONNECTIONS 3;
#GRANT SELECT ON performance_schema.* TO 'mysql_exporter'@'localhost' WITH MAX_USER_CONNECTIONS 3;

[client]
user=mysql_exporter
password=XXXXXXXX

