[Unit]
Description=Piler is a feature rich open source email archiving solution
Documentation=http://www.mailpiler.org/
After=network.target nss-lookup.target syslog.target

[Service]
PIDFile=/var/run/piler/piler.pid
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=-/etc/sysconfig/piler
PermissionsStartOnly=true
ExecStart=/usr/sbin/piler -d $PILER_OPTS

[Install]
WantedBy=multi-user.target
