[Unit]
Description=SphinxSearch Search Engine
After=network.target remote-fs.target nss-lookup.target
After=syslog.target

[Service]
Type=forking
User=piler
Group=piler
# Run ExecStartPre with root-permissions
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/run/piler
ExecStartPre=/bin/chown piler.piler /var/run/piler
# Run ExecStart with User=sphinx / Group=sphinx
ExecStart=/usr/bin/searchd --config /etc/piler/sphinx.conf
KillMode=process
KillSignal=SIGTERM
SendSIGKILL=no
LimitNOFILE=infinity
PIDFile=/var/run/piler/searchd.pid

[Install]
WantedBy=multi-user.target
Alias=sphinx.service
Alias=sphinxsearch.service
